.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 47, 47);
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 18px;
  color: black;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.form {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  border: 5px solid #4cb8c4;
  transition: all 0.5s ease;
}

.input {
  width: 70%;
  padding: 5px;
  border-radius: 7px;
  border: 2px solid #969595;
}

.btnCadastrar {
  margin-top: 30px !important;
  width: 150px;
  padding: 5px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to right, #4cb8c4 0%, #ba3cd3 51%, #4cb8c4 100%);
  margin: 10px;
  background-size: 200% auto;
  text-transform: uppercase;
  opacity: 1;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
    background-position: right center;
    background-color: rgb(24, 112, 255);
  }
}
